
body{

    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
}
/* Heading */
.heading{
    display: flex;
    margin-top: 43px;
    align-items: center; 
}
.menu-items{
    margin-left: 614px;
}
.menu-items ul{
    display: flex;
    flex-direction: row;
}
.menu-items li{
    list-style-type: none;
    margin-right: 34px;
}
.menu-items li a{
    text-decoration: none;
    color: dimgrey;
    font-size: 16px;
    font-weight: 600;
}
.icon{
    font-size: 24px;
}
.left-side,.container{
    margin-left: 120px;
}
.left-side h3{
    color:grey;
    font-size: 24px;
}

/* Starting  */

.container{
    display: flex;
    margin-top: 72.9px;
}
.journey-title{
    width: 582px;
    height: 270px;
    margin-right: 133px;
   
}
.journey-title h1{
    font-size: 52px;
    color:gray;
    margin-bottom: 16px;
}
.journey-title p{
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    color: grey;
}
.journey-title button{
    margin-top: 16.1px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    margin: 10px 24px;
    border-radius: 41px;
    border-style: none;
    width: 196px;
    height: 44px;
    cursor: pointer;
}





/*  Main part */
.collection-headline{
    font-size: 28px;
    font-weight: 600px;
    color: gray;
    text-align: center;
}
.collection{
    width: 1047px;
   
    margin-left: 196px;
    margin-right: 197px;
    margin-top: 100px;
   
}
.grid-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.popular{
    width: 329px;
    height: 520px;
    box-shadow: 3px 3px 30px 3px rgba(128, 128, 128, 0.466);
    margin-top: 30px;
    
}
.collection-img img{
    width: 300px;
    height: 256px;
    margin-top: 17px;
    margin-left: 14px;
}
.collection-detail{
    margin-left: 14px;
}
.course-title{
    margin-top: 16px;
    font-weight: 500px;
    font-size: 28px;
    
}
.amount{
    margin-top: -28px;
    font-weight: 400px;
    font-size: 24px;
}
.things-info{
    width: 196px;
    height: 61;
}
.field{
    color: #ffa500;
    font-size: 16px;
}
.star{
    margin-top: -25px;
}
.star span{
    color: #5E6366;
}
.about-item{
    width: 196px;
    height: 61px;
    margin-top: -10px;
    margin-bottom: -17px;
}
.about-item p{
    font-size: 14px;
    color: #787885;
}
.grid-button{
    width: 150px;
    height: 24px;
    color: #E02C6D;
    background-color: white;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
   margin-right: 0px;
   cursor: pointer;
}




.footer{
    background-color: rgb(2, 1, 8);
    height: 240px;
    width: 100%;
}
.footer h1{
    color:white;
    text-align: center;
    padding-top:50px;
    
}
.footer p{
    color: #D9DBE1;
    text-align: center;
}



/* Responsiveness */
@media (max-width:688px){
    .influencer-blog{
        width: 100%;

    }
    
    .heading{
        width: 300px;
        display: block;
    }
    .for li{
        margin-left: 20px;
    }
    
     .menu-items{
        margin-left: -50px;
    }
    .menu-items li{
        margin-right: 5px;
        font-size: 12px;
    }
    .left-side h3{
        margin-left: -100px;
        font-size: 15px;
    }
   
    
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
    }
    .journey-title{
        margin: 0;
        margin-right: 0;
        width: 300px;
        margin-left: -90px;   
    }
    .journey-img{
        margin-top: 500px;
        margin-left: -120px;
        width: 100%;
    }
   
    
    
    .collection{
        width: 100%;
    }
    .collection-headline{
        text-align: center;
        font-size: 20px;
        margin-left: -120px;
    }
    .grid-collection{
        grid-template-columns: repeat(1,1fr);
        justify-content: flex-start;
        
        width: 100%;
    }
    .popular{
        width: 100%;
    }
    
   
    footer{
        width: 100%;
    } 
}